﻿@model FinalProject.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">

        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            <p>i.e. UserName</p>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            <p>i.e. username@diner.com</p>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            <p>i.e. Y0urPa$$w0rd</p>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            <p>i.e. Y0urPa$$w0rd</p>
        </div>
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control" })
            <p>i.e. 01/23/1987</p>
        </div>
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
            <p>i.e. Monmouth</p>
        </div>
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.State, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
            <p>i.e. Oregon</p>
        </div>
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.Zip, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Zip, new { @class = "form-control" })
            <p>i.e. 97361</p>
        </div>
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.DistTraveled, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DistTraveled, new { @class = "form-control" })
            <p>Miles willing to travel</p>
        </div>
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.CuisinePref, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CuisinePref, new { @class = "form-control" })
            <p>i.e. Mexican</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Register" />

        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


