﻿@model IEnumerable<FinalProject.Models.News>

@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>News</h2>

<p>
    
        @Html.ActionLink("Create New", "Create", "News", null, new { @class = "btn btn-primary" })
    
</p>
<table class="table-striped table-bordered table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NewsOfEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewsDateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewsAdminName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsOfEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsDateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsAdminName)
            </td>
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.NewsID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.NewsID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.NewsID })
                </td>
            }
        </tr>
    }

</table>

